    <footer>
        <!-- dynamic year to the footer using JS. -->
        <p class="text-center mt-5">Copyright © <%= new Date().getFullYear() %>, ToDo List</p>
    </footer>
    <script src="/scripts/index.js"></script>
</body>
</html>