<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dome</title>
    <%- include("../partials/links") %>
  </head>
  <body>
    <div class="page-wrap">
    <header>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg fixed-top" style="backdrop-filter: blur(10px);">
        <div class="container-sm">
          <span class="navbar-brand me-0">
            do<span style="color: #c7aa61;">me</span>
          </span>
          <ul class="nav align-items-center">
            <li class="nav-item">
              <a class="nav-link fs-6 ps-2 pe-2 fw-semibold" href="/today">Today<a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6 ps-2 pe-2 fw-semibold" href="/work">Work</a>
            </li>
            <li class="nav-item"><a class="ps-2 pe-2" href="https://github.com/Mayank-Sharma17/ToDo-List"><img src="images/github.svg" alt="github-icon" width="30"></a></li>
          </ul>
        </div>
      </nav>
    </header>