:root {
  --bg-color: #2c3639;
  --yellowish-white: #dcd7c9;
  --greyish-yellow: #dcd7c980;
  --fade-yellow: #c7aa61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Noto Sans", sans-serif;
  color: var(--yellowish-white);
  padding-top: 96.5px;
}

/* Nav Bar custom styling */
.navbar-brand {
  color: var(--yellowish-white);
  font-size: 40px;
  font-family: "Borel", cursive;
  margin-top: 15px;
}

.navbar-brand:hover {
  color: inherit;
  cursor: default;
}

.nav-link,
.nav-link:hover {
  color: var(--yellowish-white);
}

.active {
  color: var(--fade-yellow);
}

.nav-link::after {
  content: "";
  display: block;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease;
  background-color: var(--fade-yellow);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* headings day/date */
.task-heading {
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}

.date {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

/* plus button */
.fa-button {
  border: none;
  background-color: transparent;
}

.plus-icon,
.util-icon {
  color: var(--greyish-yellow);
  transition: color 0.3s ease;
}

.plus-icon:hover,
.util-icon:hover {
  color: var(--fade-yellow);
}

/* task addition container styling */
.task-container {
  padding: 15px;
  border: 2px solid var(--yellowish-white);
  border-radius: 0 20px 0;
  transition: border-radius 0.3s ease;
}

.task-container:hover {
  border-radius: 20px 0 20px;
}

/* task input styling */
.task-input {
  color: var(--yellowish-white);
  width: 100%;
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
}

.task-input::placeholder {
  color: var(--yellowish-white);
  transition: color 0.3s ease;
  opacity: 1;
}

.task-input:focus::placeholder {
  color: transparent;
}

input:checked + p {
  text-decoration: line-through var(--fade-yellow) 1.8px;
}

/* modals */
.modal-content {
  background-color: var(--fade-yellow);
}

.dialog-input {
  color: var(--bg-color);
  width: 93%;
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
  margin-left: 17px;
  padding: 12px;
  border-bottom: 2px solid var(--bg-color);
  border-left: 2px solid var(--bg-color);
}

/* list item */
.list {
  width: 100%;
  color: var(--yellowish-white);
  background-color: transparent;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid var(--yellowish-white);
  border-top: none;
  border-right: none;
}

/* checkbox custom styling */
.form-check-input[type="checkbox"] {
  border-radius: 1.25em;
  border: 2px solid var(--yellowish-white);
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.form-check-input:focus {
  box-shadow: none;
}

.completed {
  text-decoration: line-through;
}

.page-wrap {
  flex: 1;
}

/* Scroll Bar styling */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--yellowish-white);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #636b6d;
}
