* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2c3639;
  font-family: "Noto Sans", sans-serif;
  color: #dcd7c9;
  padding-top: 96.5px;
}

/* Nav Bar custom styling */
.navbar-brand {
  color: #dcd7c9;
  font-size: 40px;
  font-family: "Borel", cursive;
  margin-top: 15px;
}

.navbar-brand:hover {
  color: inherit;
  cursor: default;
}

.nav-link {
  color: #dcd7c9;
}

.nav-link:hover, .active {
  color: #c7aa61;
}

/* headings day/date */
.task-heading {
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}

.date {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

/* plus button */
.task-button {
  border: none;
  background-color: transparent;
}

.task-button .plus-icon {
  fill: #dcd7c980;
  transition: fill 0.3s ease;
}

.task-button:hover .plus-icon {
  fill: #dcd7c9;
}

/* task addition container styling */
.task-container {
  padding: 15px;
  border: 2px solid #dcd7c9;
  border-radius: 0 20px 0;
  transition: border-radius 0.3s ease;
}

.task-container:hover {
  border-radius: 20px 0 20px;
}

/* task input styling */
.task-input {
  color: #dcd7c9;
  width: 100%;
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
}

.task-input::placeholder {
  color: #dcd7c9;
  transition: color 0.3s ease;
  opacity: 1;
}

.task-input:focus::placeholder {
  color: transparent;
}

/* list item */
.list {
  width: 100%;
  color: #dcd7c9;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #dcd7c9;
  border-top: none;
  border-right: none;
}

/* checkbox custom styling */
.form-check-input[type="checkbox"] {
  border-radius: 1.25em;
  border: 2px solid #dcd7c9;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.form-check-input:focus {
  box-shadow: none;
}

.completed {
  text-decoration: line-through;
}

.page-wrap {
  flex: 1;
}

.animate-svg {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Scroll Bar styling */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #dcd7c9;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #636b6d;
}
