<footer>
  <!-- dynamic year to the footer using JS. -->
  <p class="text-center mt-5">
    <small
      >Copyright © <%= new Date().getFullYear() %>,
      <span style="font-family: 'Borel', cursive; font-size: medium"
        >dome</span
      ></small
    >
  </p>
</footer>
